extends layout

block edit
  div.overlay
    div.edit-card
      a(class="icon_close edit-close")
      div.edit-header
        span.icon_document_alt
        textarea #{card.title}
        p= "in list "
          a #{card.list}
      div.edit-main
        if !card.description
          div.first-edit
            p
              span.icon_pencil-edit
              a Edit the description...
        else
          div.edit
            h3= "Description "
              a Edit
            div.description
              p test
        div.editing-description
          textarea #{card.description}
          div.control
            input(type="submit" value="Save")
            a.icon_close
        div.module
          div.module-header
            span.icon_comment_alt
            h3 Add Comment
          div.commont-new
            img(src="http://placehold.it/30/0079bf")
            form
              textarea(placeholder="Write a comment...")
            div.control
              input(type="submit" value="Send")
        div.module
          div.module-header
            span.icon_clipboard
            h3 Activity
          div.activity
      div.edit-sidebar
        div.module-header
          h3 Add
          div
            a
              span.icon_clock_alt
              | &nbsp;Due Date
            //- div.pop-over
            //-   div.pop-over-header
            //-     h3 Change Due Date
            //-     a(class="icon_close edit-close")
            //-   div.pop-over-content
            //-     form
            //-       label Date
            //-         input(type="date" name="due_date")
            //-       label Time
            //-         input(type="text" name="due_time" id="due_time")
            //-     div.control
            //-       input(type="submit" value="Save")
            //-       button.remove Remove

        div.module-header
          h3 Action
          div
            a
              span.arrow_right
              | &nbsp;Move
            //- div.pop-over
            //-   div.pop-over-header
            //-     h3 Move
            //-     a(class="icon_close edit-close")
            //-   div.pop-over-content
            //-     div.button-select-threequarters
            //-       span.title List
            //-       span.content Stuff to try (this is a list)
            //-       select
            //-     div.button-select-quarter
            //-       span.title Position
            //-       span.content 1
            //-       select
            //-         option(selected) 1
            //-         option 2
            //-         option 3
            //-     div.control
            //-       input(type="submit" value="Move")
            a
              span.icon_documents_alt
              | &nbsp;Copy
            //- div.pop-over
            //-   div.pop-over-header
            //-     h3 Copy
            //-     a(class="icon_close edit-close")
            //-   div.pop-over-content
            //-     form
            //-       label Title
            //-         textarea #{card.title}
            //-       label Keep...
            //-         div.keep_comments
            //-           input(type="checkbox" id="keep_comments")
            //-           label(for="keep_comments")= "Comments "
            //-             span (1)
            //-       label Copy to...
            //-       div.button-select-threequarters
            //-         span.title List
            //-         span.content Stuff to try (this is a list)
            //-         select
            //-       div.button-select-quarter
            //-         span.title Position
            //-         span.content 1
            //-         select
            //-           option(selected) 1
            //-           option 2
            //-           option 3
            //-       div.control
            //-         input(type="submit" value="Create Card")